$colorBlack: #0A0A0A;
$colorWhite: #FFFFFF;
$colorDirtyWhite: #FEFEFE;
$colorOrange: #F7600E;
$colorLightOrange: #E1580E;
$colorBlue: #2BA6CB;
$colorDarkGray: #3B434C;
$colorModerateGray: #64686D;
$colorLightGray: #CACACA;
$colorVeryLightGray: #C6C8CB;
$colorSteel: #C4C6C9;
